ffmpeg
ffmpeg-python
Flask
Flask-Uploads
gunicorn
httplib2
moviepy
pytube3
requests
requests-oauthlib
rich
soundcloud-lib
soundcloud-v2
spotdl
spotipy
waitress
Werkzeug
youtube-dl
youtube-search2
youtube-search
yt-dlp
ytmusicapi
ytsearch
