aiohttp
aiosignal
altgraph
annotated-types
anyio
attrs
auto-py-to-exe
beautifulsoup4
blinker
bottle
bottle-websocket
Brotli
bs
cachetools
certifi
cffi
chardet
charset-normalizer
click
clipboard
colorama
commonmark
dacite
decorator
Deprecated
distlib
Eel
fastapi
ffmpeg
ffmpeg-python
filelock
Flask
Flask-Uploads
frozenlist
future
fuzzywuzzy
gevent
gevent-websocket
google-api-core
google-api-python-client
google-auth
google-auth-httplib
google-auth-oauthlib
googleapis-common-protos
greenlet
gunicorn
h
httplib
idna
imageio
imageio-ffmpeg
itsdangerous
jaconv
Jinja
jsonify
Levenshtein
logging
lxml
markdown-it-py
MarkupSafe
mdurl
moviepy
multidict
mutagen
numpy
oauthlib
packaging
pafy
pefile
pillow
platformdirs
proglog
proto-plus
protobuf
pyasn
pyasn_modules
pycparser
pycryptodomex
pydantic
pydantic_core
Pygments
pyinstaller
pyinstaller-hooks-contrib
pykakasi
pyparsing
pyperclip
python-dateutilpost
python-Levenshtein
python-slugify
pytube
pytube
pytube
pywin-ctypes
PyYAML
rapidfuzz
redis
requests
requests-oauthlib
rich
rsa
sentry-sdk
setuptools
six
sniffio
soundcloud-lib
soundcloud-v
soupsieve
spotdl
spotipy
starlette
syncedlyrics
text-unidecode
tqdm
typing_extensions
Unidecode
uritemplate
urllib
urwid
uvicorn
waitress
wcwidth
websockets
Werkzeug
whichcraft
wrapt
yarl
youtube-dl
youtube-search2
youtube-search
yt-dlp
ytmusicapi
ytsearch
zopeevent
zopeinterfacepost
