aiohttp
aiosignal
altgraph
annotated-types
anyio
attrs
auto-py-to-exe
beautifulsoup4
blinker
bottle
bottle-websocket
Brotli
cachetools
certifi
cffi
commonmark
dacite
decorator
Deprecated
distlib
Eel
fastapi
ffmpeg
ffmpeg-python
filelock
Flask
Flask-Uploads
frozenlist
future
fuzzywuzzy
gevent
gevent-websocket
greenlet
gunicorn
h
httplib2
idna
imageio
imageio-ffmpeg
itsdangerous
jaconv
Jinja2
jsonify
Levenshtein
logging
lxml
markdown-it-py
MarkupSafe
mdurl
moviepy
multidict
mutagen
numpy
oauthlib
packaging
pafy
pefile
pillow
platformdirs
proglog
proto-plus
protobuf
pycparser
pycryptodomex
pydantic
pydantic_core
Pygments
pytube
pytube2
pytube3
PyYAML
rapidfuzz
redis
requests
requests-oauthlib
rich
rsa
sentry-sdk
setuptools
six
sniffio
soundcloud-lib
soundcloud-v2
soupsieve
spotdl
spotipy
starlette
syncedlyrics
text-unidecode
tqdm
typing_extensions
Unidecode
uritemplate
urllib3
urwid
uvicorn
waitress
wcwidth
websockets
Werkzeug
whichcraft
wrapt
yarl
youtube-dl
youtube-search2
youtube-search
yt-dlp
ytmusicapi
ytsearch
zope.event
zope.interface
gunicorn
